@font-face {
  font-family: dynamix;
  src: url(./Fonts/Dynamix.ttf);
}

body {
  display: flex;
  background-color: #FFF5E9;
  background-image: none;
  font-family: dynamix;
  text-decoration: none;
}

.App {

}

